<div id="stat-comp-container" class="margin-bot-30">

   <div id="champ-list-assists" class="margin-center margin-top-10" style="width:615px;">

      <input ng-model="championSearchName" type="text" class="form-control summoner-search margin-top-10" placeholder="Champion Name" style="float:right;">

   </div>

   <div id="champ-list-container" class="margin-center blue-scroll">

      <div ng-click="selectChampion(name)" id="{{name}}" class="champ-div" ng-repeat="name in championNames|filter:championSearchName">
         <img ng-src="../external/images/champions/{{name}}_Square_0.png" class="champ-icon" height="50px" width="50px">
         </img>
      </div>

   </div>

</div>