<div class="margin-bot-30 inline-b margin-left-15 div-bg-color round-div" style="height:450px">

   <div id="champ-list-assists" class="margin-top-10 margin-bot-30">

      <h2 class="inline-b" style="float:left">Select Champion(s)</h2>

<!--    <div class="btn-group margin-top-20 margin-left-30">
      <button type="button" class="btn selected-blue" style="color:#0b0b0b">Left</button>
      <button type="button" class="btn btn-default">Right</button>
   </div> -->

      <!-- Use btn-group instead of radio buttons! -->
      <div id="championColorSelect" class="inline-b margin-top-20 margin-left-30">
         <input ng-model="radioColor" type="radio" value="Blue">Blue
         <input ng-model="radioColor" type="radio" value="Red">Red
      </div>


      <input ng-model="championSearchName" type="text" class="form-control width-165 margin-top-20" placeholder="Champion Name" style="float:right;">

   </div>

   <div id="champ-list-container" class="margin-center">

      <div ng-show="nameMatches(championSearchName,fromCamelCase(name))" ng-click="selectChampion(name)" id="{{name}}" class="champ-div" ng-repeat="name in championNames">

         <img ng-src="../external/images/champions/{{name}}_Square_0.png" alt="{{name}} img" class="champ-icon" height="50px" width="50px">

         </img>
         <div class="champ-name">{{fromCamelCase(name)}}</div>

      </div>

   </div>

   <button ng-click="compareStats()" class="btn btn-default margin-top-20" style="float:right;background-color:black;color:grey;margin-right:30px">Compare Stats
      <span class="glyphicon glyphicon-arrow-right Blue"></span>
      <span class="glyphicon glyphicon-arrow-left Red"></span>
   </button>

</div>