
<!-- ng-show="statComparisonTableRows.length > 0" -->
<div ng-show="leftSummonerData.championDataFromApi != undefined && rightSummonerData.championDataFromApi != undefined && showStatCompareTable" id="stat-comp-container" class="div-bg-color round-div margin-bot-100" style="padding:30px 0 30px 0;color:white">

<!--    <table class="table table-bordered round-div" style="width:600px;margin:auto">

      <thead>
         <tr>
            <th style="text-align:right">{{leftSummonerData.summonerInfo.name}}'s <br> Stats</th>
            <th style="text-align:center;width:300px;">Stat Names</th>
            <th style="text-align:right">{{rightSummonerData.summonerInfo.name}}'s <br> Stats</th>
         </tr>
      </thead>

      <tr ng-repeat="row in statComparisonTableRows">

         <td style="text-align:right">
            {{row.left.leftStatSum}}
            <span class="glyphicon glyphicon-{{row.left.icon}} {{row.left.color}}"></span>
         </td>

         <td style="text-align:center">
            {{fromCamelCase(row.statName)}}
         </td>

         <td style="text-align:right">
            {{row.right.rightStatSum}}
            <span class="glyphicon glyphicon-{{row.right.icon}} {{row.right.color}}"></span>
         </td>

      </tr>

   </table> -->



   <canvas id="damageChart" width="800" height="300"></canvas>

   <canvas id="ka" width="800" height="300"></canvas>

   <canvas id="goldEarned" width="800" height="300"></canvas>

   <canvas id="minionsKilled" width="800" height="300"></canvas>

   <canvas id="killstreaks" width="800" height="300"></canvas>

</div>






















