<form role="form" ng-submit=querySummoner()>
   <div class="col-xs-12">
      <h3>Summoner Search</h3>
      <input type="text" class="form-control" placeholder="Summoner Name" ng-model="summonerName">
   </div>
   <div class="col-xs-5 margin-top-10">
      <select class="form-control" ng-model="region" ng-options="r.toString() for r in regions">
      </select>
   </div>
   <button type="submit" class="btn btn-primary margin-top-10">
      <span class="glyphicon glyphicon-search"></span> Search
   </button>
</form>